.partners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding-top:100px;
    padding-bottom: 100px;
}
.partners_line{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.partners_img{
    width: 160px;
    height: 65px;
    object-fit: contain;
}
@media (max-width: 721px) {

    .partners {
        flex-direction: column;
        gap: 40px;
    }

}