.products_section{
    margin: 100px auto;
}

/* SECTION INFO */
.products_section_info{
    text-align: center;
    margin-bottom: 50px;
}

/* SUBTITLE */
.products_section_subtitle{
    font-size: 18px;

    margin-bottom: 10px;

    font-family: "Lora", Georgia, serif;

    font-style: italic;
    font-weight: 500;

    color: var(--primary-color);
}

/* TITLE */
.products_section_title{
    font-size: 40px;
    font-weight: 600;
    color: var(--dark-color);
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* TEXT */
.products_section_text{
    max-width: 600px;
    margin: 0 auto;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: var(--gray);
}

/* PRODUCTS GRID */
.products_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* RESPONSIVE */
@media (max-width:992px){

    .products_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:576px){

    .products_grid{
        grid-template-columns: 1fr;
    }

    .products_section_title{
        font-size: 30px;
    }

    .products_section_text{
        font-size: 14px;
        padding: 0 10px;
    }

}