.about_main_container{
    background-color: #f7f8f2;
    width: 100%;

}


.about_welcome {
    display: flex;
    justify-content: center;
    gap: 25px;

}

.about_welcome_image_box {
    flex: 1;
     min-height:700px;
    width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about_welcome_img_btn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
   
   }
   .about_welcome_img_btn_icon{
        color: var(--white);
     font-size: 16px;

   }
.about_welcome_img_btn::after{
    content:"";
    position:absolute;
    inset:0;
    border-radius:50%;
    border:2px solid var(--primary-color);
    animation:pulse 1.8s infinite;
}

@keyframes pulse{

    0%{
        transform: scale(1);
        opacity: 1;
    }
    70%{
        transform: scale(1.8);
        opacity: 0;
    }
    100%{
        transform: scale(1.8);
        opacity: 0;
    }

}


.about_welcome_content {
    flex: 1;
   padding-top: 48px;
   padding-left: 16px;
   padding-bottom: 48px;
}

.about_welcome_title {
   font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 25px;

}

.about_welcome_text {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    margin-bottom: 16px;
    
}

.about_welcome_btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s all ease;
        font-weight: 400;
       font-size: 16px;
}

.about_welcome_btn:hover {
    background: transparent;
    color: var(--primary-color);
}

@media (max-width:992px) {
    .about_welcome {
        flex-direction: column;
        text-align: center;
    }
      .about_welcome_image_box{
        min-height:500px;
    }

    .about_welcome_title {
        font-size: 32px;
    }
}

@media (max-width:576px) {
    .about_welcome {
        gap: 30px;
        padding: 60px 0;
    }
    .about_welcome_title {
        font-size: 26px;
    }
    .about_welcome_image_box{
        min-height:350px;
    }
      .about_welcome_content{
        padding:0;
    }
    .about_welcome_text {
        font-size: 14px;
    }

    .about_welcome_btn {
        width: 100%;
    }
}