.about_counter_item {
    flex: 1;
    text-align: center;
}

.about_counter_number {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: black;
    font-family: "Poppins", Arial, sans-serif;
}

.about_counter_title {
    margin-top: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.8;
    font-weight: 500;
}