.about_counter {
    width: 100%;
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
}

.about_counter_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
@media (max-width: 992px) {

    .about_counter {
        padding: 80px 0;
    }

    .about_counter_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .about_counter_item {
        flex: 0 0 calc(50% - 20px);
    }

    .about_counter_number {
        font-size: 38px;
    }
}