.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin:80px auto;
}

.pagination_btn{
    width:40px;
    height:40px;
    border-radius:50%;
    border:1px solid #e6e6e6;
    background-color: var(--white);
    cursor:pointer;
    transition:0.3s ease;
    font-size:14px;
    font-family:"Poppins", Arial, sans-serif;
}

.pagination_btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.active_page{
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
}