.nav_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background-color: white;
    padding: 25px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0; 
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
    z-index: 999;
}

.nav_dropdown_menu {
    display: block;
    transition: 0.3s ease;
}

.nav_dropdown_parent:hover .nav_dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.nav_dropdown_link {
    display: block;
    cursor: pointer;
    clear: both;
    font-weight: 400;
    color: var(--dark-color);
    font-size: 14px;
    text-align: inherit;
    width: 100%;
    padding: 0.25rem 1.5rem;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.8;

}
.nav_dropdown_parent{
    position: relative;
}